<h1> Here is a list of all your tweets</h1>

<div class = "table" >
	<table>
		<thead>
		<tr>
			<th>Content</th>
			<th>tweeter</th>
			<th colspan ="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @tweets.each do |tweet| %>
		<tr>
			<td><%= tweet.content %></td>
			<td><%= tweet.tweeter.email %></td>
			<td><%= link_to 'Show', tweet %></td>
			<td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
			<td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: "Are you sure?"} %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br>
<% if tweeter_signed_in? %>
<%= link_to 'New Tweet', new_tweet_path %>
<% end %>